[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attr = "==0.3.2"
brotli = "==1.1.0"
brotlicffi = "==1.1.0.0"
chardet = "==5.2.0"
colorama = "==0.4.6"
configparser = "==7.1.0"
cryptography = "==43.0.1"
docutils = "==0.21.2"
filelock = "==3.16.0"
h2 = "==4.1.0"
htmlparser = "==0.0.2"
ipython = "==8.12.3"
ipywidgets = "==8.1.5"
jnius = "==1.1.0"
js = "==1.0"
keyring = "==25.3.0"
mock = "==5.1.0"
pandas = "==2.2.2"
pillow = "==10.4.0"
protobuf = "==5.28.1"
pyodide = "==0.0.2"
pyopenssl = "==24.2.1"
redis = "==5.0.8"
simplejson = "==3.19.3"
sphinx = "==8.0.2"
streamlit = "==1.38.0"
streamlit-authenticator = "==0.3.3"
thread = "==2.0.5"
urllib3-secure-extra = "==0.1.0"
xmlrpclib = "==1.0.1"
zstandard = "==0.23.0"

[dev-packages]
